absl-py
attrs
cffi
comtypes
contourpy
cvzone
cycler
flatbuffers
fonttools
jax
jaxlib
kiwisolver
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
pip
protobuf
pycparser
pyparsing
pypiwin32
python-dateutil
pyttsx3
pywin32
scipy
sentencepiece
six
sounddevice
